<p>sign-up works!</p>
<form [formGroup]="signupForm" (ngSubmit)="register()" novalidate>

   
  <div>
    <label>Email</label>
    <input type="email" formControlName="email" />
    <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
      <small *ngIf="signupForm.get('email')?.errors?.['required']">Email is required</small>
      <small *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email format</small>
    </div>
  </div>

  
  <div>
    <label>Password</label>
    <input type="password" formControlName="password" />
    <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid">
      <small *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</small>
      <small *ngIf="signupForm.get('password')?.errors?.['minlength']">Minimum 6 characters</small>
      <small *ngIf="signupForm.get('password')?.errors?.['weakPassword']">
        Password must include uppercase, lowercase, number, and special character
      </small>
    </div>
  </div>

   
  <div>
    <label>Confirm Password</label>
    <input type="password" formControlName="confirmPassword" />
    <div *ngIf="signupForm.errors?.['passwordMismatch'] && signupForm.get('confirmPassword')?.touched">
      <small>Passwords do not match</small>
    </div>
  </div>

 
  <button type="submit">Sign Up</button>
</form>